{% extends "::layout.html.twig" %}
{% block additional_javascripts %}

    <script type="text/javascript" src="{{ asset('assets/vendor/iviewer/jquery.iviewer.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('assets/jquery-canvas-area-draw/jquery.canvasAreaDraw.js') }}" ></script>

    <script type="text/javascript">{
            var data = {
                {% for x in update.mapLayers %}
                '{{ x.getTitle() }}': [
                    {% for y in x.getPointSets() %}
                    [{{ y.points|join(',') }}],
                    {% endfor %}
                ],

                {% endfor %}
            }
            editor.setData(data);
        };
    </script>
{% endblock %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/iviewer/jquery.iviewer.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/build/css/mapeditor.min.css') }}" />
    <style>


        #pointer
        {
            background-image: url('{{ asset('bundles/app/arrow.png') }}');
        }
    </style>
    <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
{% endblock %}

{% import _self as macros %}

{% macro button(image, key, title) %}
        <label class="editor-button btn btn-primary active">
            <input type="radio" class="editor-button editor-mode btn btn-primary" name="mode" value="{{ title }}">
                <img src="{{ asset('bundles/app/' ~ image) }}"    alt="{{ key }}" title="{{ title }}"/>
            </input>
        </label>
        <input type="hidden" name="data[{{ title }}]" id="data-{{ title }}-coordinates }}" value="" />
{% endmacro %}

{% block body %}
    <div id="editor-bar">
        <form method="post">
    <div class="btn-group" data-toggle="buttons">
        {{ macros.button('mountain.png',    'M', 'Mountain') }}
        {{ macros.button('water.png',       'W', 'Water') }}
        {{ macros.button('boundary.png',    'B', 'Boundary') }}
        {{ macros.button('trees.png',       'T', 'Tree') }}
        {{ macros.button('path.png',        'P', 'Path') }}
        {{ macros.button('field.png',       'F', 'Field') }}
        <button class="editor-button editor-finish btn btn-success">Finish</button>
        <button class="editor-button editor-cancel btn btn-danger reset">Cancel</button>
    </div>
    </div>
            <div class="row">
                <div class="span6">
      <textarea id="map-points" rows=3 style="display: none; width: 0; height: 0; padding: 0; border: 0;" name="coords1" class="canvas-area input-xxlarge" disabled
                placeholder="Shape Coordinates"
                data-image-url="{{ asset('bundles/app/map.jpg') }}">549,194,549,316,563,339,517,372,533,386,566,373,585,370,597,379,637,372,665,365,669,376,717,381,790,399,811,382,807,371,698,329,680,282,663,278,645,292,626,271,604,263,621,247,606,232,597,234,596,198,582,183,568,187</textarea>
                </div>
            </div>
        </form>

        {{ form_start(form, {'attr': {'id': 'update-form'}}) }}
        <input type="submit" name="submit" value="submit" />
        {{ form_end(form) }}
        {#, {'attr': {'style': 'visibility: hidden; display: none;'}}) }}#}
{% endblock %}
