{% extends "::layout.html.twig" %}
{% block additional_javascripts %}

    <script type="text/javascript" src="{{ asset('assets/vendor/iviewer/jquery.iviewer.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('assets/jquery-canvas-area-draw/jquery.canvasAreaDraw.js') }}" ></script>

    <script type="text/javascript">{
            var data = {
                {% for x in update.mapLayers %}
                '{{ x.getTitle() }}': [
                    {% for y in x.getPointSets() %}
                    [{{ y.points|join(',') }}],
                    {% endfor %}
                ],

                {% endfor %}
            }
            editor.setData(data);
        };

        $(document).ready(function() {
            $('#button-Login').click(function() {
                console.log('clicked');
                console.log($.post(
                        '{{ path('game_login') }}',
                        $(this).closest('form').serialize(),
                        function(data, textStatus, jqXHR) {
                            console.log(data);
                        }
                ));
            })
        });
    </script>

    <script type="text/javascript">
        var MapEditor = function() {
            this.mode = null;
            this.modes = {
                DEFAULT: 0,
                MAP_EDITOR: 1
            };

            this.enableMode = function(mode, btn) {
                if (!this.modes.hasOwnProperty(mode)) {
                    this.triggerError('Unknown Mode', 'Invalid mode ('+mode+') selected.');
                    return;
                } else if ($(btn).hasClass('btn-success')) {
                    this.reset();
                    return;
                }
                $('#sidebar li > a[data-mode="'+mode+'"]').removeClass('btn-primary').addClass('btn-success');
                this.listeners[mode]();
            };

            this.triggerError = function(title, body) {
                var modal = $('#error-modal');
                modal.find('#error-title').html(title);
                modal.find('.modal-body').html(body);
                modal.modal('show');
            };

            this.reset = function() {
                $('#mapeditor-bar').hide();
                $('#sidebar li > a[data-mode]').removeClass('btn-success').addClass('btn-primary');
            };

            this.listeners = {
                MAP_EDITOR: function() {
                    $('#mapeditor-bar').show();
                }
            };
        };

        var mapper = new MapEditor();
        $('#sidebar li > .btn').click(function() {
            mapper.enableMode($(this).data('mode'), this);
        });
    </script>
{% endblock %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/iviewer/jquery.iviewer.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/build/css/mapeditor.min.css') }}" />
    <style>


        #pointer
        {
            background-image: url('{{ asset('bundles/app/arrow.png') }}');
        }
    </style>
    <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
{% endblock %}

{% import _self as macros %}

{% macro button(image, key, title, fa, style) %}
    <label id="button-{{ title }}" class="editor-button btn btn-primary" style="{{ style is empty ? '' : style }}">
        <input type="radio" class="editor-button editor-mode btn btn-primary" name="mode" value="{{ title }}">
        {% if fa is not empty %}
            <i class="fa fa-{{ image }}"></i>
        {% else %}
            <img src="{{ asset('bundles/app/' ~ image) }}"    alt="{{ key }}" title="{{ title }}"/>
        {% endif %}
        </input>
    </label>
    <input type="hidden" name="data[{{ title }}]" id="data-{{ title }}-coordinates }}" value="" />
{% endmacro %}

{% macro stdbutton(image, key, title, fa, style) %}
    <label id="button-{{ title }}" class="editor-button btn btn-primary" style="{{ style is empty ? '' : style }}">
        <button type="button" class="editor-button editor-mode btn btn-primary">
        {% if fa is not empty %}
            <i class="fa fa-{{ image }}"></i>
        {% else %}
            <img src="{{ asset('bundles/app/' ~ image) }}"    alt="{{ key }}" title="{{ title }}"/>
        {% endif %}
        </button>
    </label>
    <input type="hidden" name="data[{{ title }}]" id="data-{{ title }}-coordinates }}" value="" />
{% endmacro %}

{% block body %}
    <form method="post">
        <div id="editor-bar">

            {% if user is empty %}
            <div class="btn-group" data-toggle="buttons" id="guest-bar">

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <div style="float: left;">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <label for="username"></label>
                        <input style="height: 3em;" placeholder="Username" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                        <label for="password"></label>
                        <input style="height: 3em;" placeholder="Password" type="password" id="password" name="_password" required="required" />

                        {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                        {#<label for="remember_me">Remember Me</label>#}
                    </div>
                    <span style="clear:both;"></span>

                    {{ macros.stdbutton('user',    'L', 'Login', true, 'float: left;') }}
                </form>
            </div>
            {% elseif user.hasRole('ROLE_ADMIN') %}
            <div class="btn-group" data-toggle="buttons" id="mapeditor-bar" style="display:none;">
                {{ macros.button('mountain.png',    'M', 'Mountain') }}
                {{ macros.button('water.png',       'W', 'Water') }}
                {{ macros.button('boundary.png',    'B', 'Boundary') }}
                {{ macros.button('trees.png',       'T', 'Tree') }}
                {{ macros.button('path.png',        'P', 'Path') }}
                {{ macros.button('field.png',       'F', 'Field') }}
                <button class="editor-button editor-finish btn btn-success">Finish</button>
                <button class="editor-button editor-cancel btn btn-danger reset">Cancel</button>
            </div>
            {% else %}
            <div class="btn-group" data-toggle="buttons" id="admin-bar">
                Welcome, {{ user.roles|join(',') }}
            </div>
            {% endif %}
        </div>
        <style type="text/css">
            #sidebar {
                position: fixed;
                top: 9vh;
                right: 1vh;
                width: 40vh;
            }
            #editor-header {
                width: 100%;
                border: 1px solid darkgoldenrod;
                background-image: linear-gradient(to bottom,darkgoldenrod 0,#DAA520 100%);
                color: darkgreen;
                font-weight: bold;
                font-size: 2em;
                background-repeat: repeat-x;
            }
            .btn-sidebar > img {
                height: 8em;
            }

            ul.editor-buttons {
                list-style: none;

            }
            ul.editor-buttons li {
                display: inline-block;
            }
        </style>
        <div id="sidebar">
            <button class="btn" id="editor-header" class="header-button">Editor</button>
            <div>
                <ul style="list-style: none;">
                    <li><a data-mode="MAP_EDITOR" href="#" class="btn btn-primary btn-sidebar"><img src="bundles/app/map.png" alt="Map Editor" title="Map Editor" /></a></li>
                </ul>
            </div>
            <button class="btn" id="editor-header" class="header-button">Build</button>
            <div>
                <ul class="editor-buttons">
                    <li><a href="#" class="btn btn-primary btn-sidebar"><img src="/bundles/app/hum1.gif" alt="Build a City" title="Build a City" /></a></li>
                    <li><a href="#" class="btn btn-primary btn-sidebar"><img src="/bundles/app/hum2.gif" alt="hum" title="hum" /></a></li>
                    <li><a href="#" class="btn btn-primary btn-sidebar"><img src="/bundles/app/hum3.gif" alt="hum" title="hum" /></a></li>
                    <li><a href="#" class="btn btn-primary btn-sidebar"><img src="/bundles/app/hum4.gif" alt="hum" title="hum" /></a></li>
                    <li><a href="#" class="btn btn-primary btn-sidebar"><img src="/bundles/app/hum5.gif" alt="hum" title="hum" /></a></li>
                    <li><a href="#" class="btn btn-primary btn-sidebar"><img src="/bundles/app/hum6.gif" alt="hum" title="hum" /></a></li>
                    <li><a href="#" class="btn btn-primary btn-sidebar"><img src="/bundles/app/hum7.gif" alt="hum" title="hum" /></a></li>
                    <li><a href="#" class="btn btn-primary btn-sidebar"><img src="/bundles/app/hum8.gif" alt="hum" title="hum" /></a></li>
                </ul>
            </div>
        </div>
              <textarea id="map-points" rows=3 style="display: none; width: 0; height: 0; padding: 0; border: 0;" name="coords1" class="canvas-area input-xxlarge" disabled
                placeholder="Shape Coordinates"
                data-image-url="{{ asset('bundles/app/map.jpg') }}">549,194,549,316,563,339,517,372,533,386,566,373,585,370,597,379,637,372,665,365,669,376,717,381,790,399,811,382,807,371,698,329,680,282,663,278,645,292,626,271,604,263,621,247,606,232,597,234,596,198,582,183,568,187</textarea>
        <div id="viewer" class="viewer iviewer_cursor" style="border: 1px solid black; width: 100vw; height: 100vh; position: absolute; top: 0;">
            {#<img src="{{ asset('bundles/app/map.jpg') }}" style="border: 1px solid black; position: absolute; top: 0; left: 0; max-width: none; width: 150vw; height: 150vh;">#}
        </div>

    </form>

    {{ form_start(form, {'attr': {'id': 'update-form', 'style': 'display: none;'}}) }}
    <input type="submit" name="submit" value="submit" />
    {{ form_end(form) }}
    {#, {'attr': {'style': 'visibility: hidden; display: none;'}}) }}#}
{% endblock %}
